footer {
    background-color: var(--color4);
    border-top: 3px solid var(--color3);

    font-size: 20px;
    color: var(--color2);
    font-weight: bold;

    
    padding-left: 0.7rem;
    padding-top: 0.4rem;
    padding-bottom: 1rem;

}
