
header {
    h1 {
      display: flex;
      justify-content: center;
      background-color: var(--color2);
      margin: 0px;
  
      color: var(--color4);
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  
      background-color: var(--color4);
  
      a {
        color: inherit;
        color: var(--color2);
        text-decoration: none; //remove underline
      }
    }
  }
  